body {
  width: 800px;
}

li {
  font-size: 50px;
  list-style-type: none;

}

button {
  font-size: 35px;
  float: right;
  border-radius: 1vw;
  border-color: gray;
  background-color: white;
  padding-left: 80px;
  padding-right: 80px;

}
